.rounded-circle{
    margin: auto;
}
.card{
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-0%, -50%);
    -webkit-transform: translate(-0%, -50%);
    -ms-transform: translate(-0%, -50%);
    -o-transform: translate(-0, -50%);
    transform: translate(-50%, 40%);
};