
<div class="container">
    <div class="row m-3">
      <div class="col-md-6 mx-auto">
        <div class="card">
            <img src="./assets/img/kate.png" width="235px" class="rounded-circle" alt="Cinque Terre"> 
          <div class="card-header text-center">
            Olá eu sou a kate!! Bem Vindo(a) ao Kate Finanças.
            <p>Onde as suas finanças são bem cuidadas.</p>
          </div>
          <div class="card-body">
            <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">
              <i class="fab fa-google"></i> Logar-se</button>
          </div>
        </div>
      </div>
    </div>
  </div>